/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
  text-align: center;
}
.card-container {
  background-color: #cffafe;
  height: 300px;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 50px;
  width: 50px;
}
.sub-heading {
  color: #0f172a;
  text-align: center;
}
.para {
  color: #1e293b;
  text-align: center;
}
